<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Public Blockchain</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">   
    <link rel="stylesheet" href="static/css/style.css">
</head>

    <form autocomplete="off">
      <label for="credentials2">Credentials</label>
      <input type="text" id="credentials" />
      <label for="vote2">Send Ballot to Charlie</label>
      <input type="number" id="vote" />
      <button type="button" id="send">Send</button>
    </form>
    <h3>Bulletin Board</h3>
    <ul id="board"></ul>
    <button type="button" id="tally">Tally</button>
    <script src="/static/helpers.js"></script>
    <script src="/static/client2.js"></script>
  </body>
</html>

</html>